<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="cordova-plugin-ml-barcode-scanner" version="0.1.1">
    <name>MlBarcodeScanner</name>

    <description>An Cordova plugin for iOS and Android that allows to open a barcode scanner. For the detection the plugin uses Googles MLKit.</description>
    <license>MIT</license>

    <keywords>cordova,android,ios,barcode,scanner,qrcode,qr-code</keywords>
    <repo>https://github.com/ImpacGroup/cordova-plugin-ml-barcode-scanner.git</repo>
    <issue>https://github.com/ImpacGroup/cordova-plugin-ml-barcode-scanner/issues</issue>

    <engines>
        <engine name="cordova" version=">=6.0.0"/>
    </engines>

    <js-module src="www/barcodeScanner.js" name="MlBarcodeScanner">
        <clobbers target="window.plugins.barcodeScanner" />
    </js-module>

    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="MlBarcodeScanner">
                <param name="ios-package" value="MlBarcodeScanner"/>
            </feature>
        </config-file>
        <source-file src="src/ios/BarcodeError.swift"/>
        <source-file src="src/ios/BarcodeType.swift"/>
        <source-file src="src/ios/Camera.xib"/>
        <source-file src="src/ios/CameraViewController.swift"/>
        <source-file src="src/ios/CameraViewControllerDelegate.swift"/>
        <source-file src="src/ios/CGRect-Extension.swift"/>
        <source-file src="src/ios/Code.swift"/>
        <source-file src="src/ios/Constant.swift"/>
        <source-file src="src/ios/IMPBarcodeScannerFacade.swift"/>
        <source-file src="src/ios/MLKitExtension.swift"/>
        <source-file src="src/ios/ScannerInfo.swift"/>
        <source-file src="src/ios/ProcessRate.swift"/>
        <source-file src="src/ios/ScannerAction.swift"/>
        <source-file src="src/ios/ScannerResult.swift"/>
        <source-file src="src/ios/ColorHelper-Extension.swift"/>
        <source-file src="src/ios/UIUtilities.swift"/>
        
        <podspec>
            <config>
                <source url="https://cdn.cocoapods.org/"/>
            </config>
            <pods use-frameworks="true">
                <pod name="GoogleMLKit/BarcodeScanning" spec="2.4.0"/>                
            </pods>
        </podspec>
        
    </platform>

    <platform name="android">

        <config-file target="config.xml" parent="/*">
            <feature name="MlBarcodeScanner">
                <param name="android-package" value="de.impacgroup.mlbarcodescanner.MlBarcodeScanner" />
            </feature>
        </config-file>
                        
        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <activity android:label="Camera-Activity" android:name="de.impacgroup.mlbarcodescanner.module.CameraActivity"></activity>
        </config-file>
        
        
        <source-file src="src/android/mlkit/AutoFitTextureView.java" target-dir="src/main/kotlin/de/impacgroup/mlbarcodescanner/module/mlkit"/>
        <source-file src="src/android/mlkit/BarcodeScannerProcessor.kt" target-dir="src/main/kotlin/de/impacgroup/mlbarcodescanner/module/mlkit"/>
        <source-file src="src/android/mlkit/BarcodeScannerProcessorListener.kt" target-dir="src/main/kotlin/de/impacgroup/mlbarcodescanner/module/mlkit"/>
        <source-file src="src/android/mlkit/BitmapUtils.java" target-dir="src/de/impacgroup/mlbarcodescanner/module/mlkit"/>
        <source-file src="src/android/mlkit/FrameMetadata.java" target-dir="src/de/impacgroup/mlbarcodescanner/module/mlkit"/>
        <source-file src="src/android/mlkit/MlImageAnalyzer.kt" target-dir="src/main/kotlin/de/impacgroup/mlbarcodescanner/module/mlkit"/>
        <source-file src="src/android/mlkit/PreferenceUtils.java" target-dir="src/de/impacgroup/mlbarcodescanner/module/mlkit"/>
        <source-file src="src/android/mlkit/ScopedExecutor.java" target-dir="src/de/impacgroup/mlbarcodescanner/module/mlkit"/>
        <source-file src="src/android/mlkit/VisionImageProcessor.kt" target-dir="src/main/kotlin/de/impacgroup/mlbarcodescanner/module/mlkit"/>
        <source-file src="src/android/mlkit/VisionImageProcessorListener.kt" target-dir="src/main/kotlin/de/impacgroup/mlbarcodescanner/module/mlkit"/>
        <source-file src="src/android/mlkit/VisionProcessorBase.kt" target-dir="src/main/kotlin/de/impacgroup/mlbarcodescanner/module/mlkit"/>
        
        <source-file src="src/android/BarcodeType.kt" target-dir="src/main/kotlin/de/impacgroup/mlbarcodescanner/module"/>
        <source-file src="src/android/CameraActivity.kt" target-dir="src/main/kotlin/de/impacgroup/mlbarcodescanner/module"/>
        <source-file src="src/android/Code.kt" target-dir="src/main/kotlin/de/impacgroup/mlbarcodescanner/module"/>
        <source-file src="src/android/ResourceType.kt" target-dir="src/main/kotlin/de/impacgroup/mlbarcodescanner/module"/>
        <source-file src="src/android/ScannerButton.kt" target-dir="src/main/kotlin/de/impacgroup/mlbarcodescanner/module"/>
        <source-file src="src/android/ScannerInfo.kt" target-dir="src/main/kotlin/de/impacgroup/mlbarcodescanner/module"/>
        <source-file src="src/android/ScannerResult.kt" target-dir="src/main/kotlin/de/impacgroup/mlbarcodescanner/module"/>
        <source-file src="src/android/GraphicConfig.java" target-dir="src/de/impacgroup/mlbarcodescanner/module"/>
        <source-file src="src/android/GraphicOverlay.java" target-dir="src/de/impacgroup/mlbarcodescanner/module"/>
        
        <source-file src="src/android/CordovaScanner.kt" target-dir="src/main/kotlin/de/impacgroup/mlbarcodescanner"/>
        <source-file src="src/android/MlBarcodeScanner.java" target-dir="src/de/impacgroup/mlbarcodescanner"/>
        <source-file src="src/android/ScannerAction.kt" target-dir="src/main/kotlin/de/impacgroup/mlbarcodescanner"/>
        <source-file src="src/android/ScannerMessage.kt" target-dir="src/main/kotlin/de/impacgroup/mlbarcodescanner"/>
        
        <source-file src="src/android/activity_camera.xml" target-dir="res/layout"/>
        <source-file src="src/android/camera_colors.xml" target-dir="res/values"/>
        <source-file src="src/android/camera_info_background.xml" target-dir="res/drawable"/>
        <source-file src="src/android/camera_nav_background.xml" target-dir="res/drawable"/>
        <source-file src="src/android/camera_theme.xml" target-dir="res/values"/>
        <source-file src="src/android/fade_in.xml" target-dir="res/anim"/>
        <source-file src="src/android/fade_out.xml" target-dir="res/anim"/>
        <source-file src="src/android/ic_camera_close_24.xml" target-dir="res/drawable"/>
        <source-file src="src/android/ic_camera_success_check_circle_24.xml" target-dir="res/drawable"/>
                    
        <source-file src="src/android/night/camera_colors.xml" target-dir="res/values-night"/>
        
        <framework src="com.google.mlkit:camera:16.0.0-beta1"/>
        <framework src="com.google.mlkit:barcode-scanning:17.0.0"/>
        <framework src="androidx.camera:camera-camera2:1.0.2"/>
        <framework src="androidx.camera:camera-lifecycle:1.0.2"/>
        <framework src="com.google.android.odml:image:1.0.0-beta1"/>
        <framework src="com.google.code.gson:gson:2.8.7"/>
        <framework src="androidx.constraintlayout:constraintlayout:2.1.1"/>
        <framework src="androidx.core:core-ktx:1.6.0"/>
        <framework src="androidx.fragment:fragment-ktx:1.3.6"/>
        <framework src="androidx.transition:transition-ktx:1.4.1"/>
        <framework src="androidx.lifecycle:lifecycle-extensions:2.2.0"/>
        <framework src="androidx.localbroadcastmanager:localbroadcastmanager:1.0.0"/>
        <framework src="org.jetbrains.kotlinx:kotlinx-coroutines-android:1.4.2"/>
    </platform>
</plugin>
